@import "tailwindcss";

@layer base {
  body {
    background-color: #f3f3f3;
    font-family: var(--font-primary);
  }
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-VariableFont_wght.otf");
}

@theme {
  --color-primary: #fc2121;
  --color-secondary: #fbf8ff;
  --color-tertiary: #97aabd;
  --font-primary: "Poppins", sans-serif;
}
