@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@layer base {
  body {
    background-color: #ffffff;
    font-family: var(--font-primary);
  }

  .searchHome {
    @apply m-8;
  }

  .active-icon {
    color: var(--color-primary);
  }

  .active-icon img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(100%) saturate(7463%) hue-rotate(356deg) brightness(97%) contrast(117%);
  }
  
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-VariableFont_wght.otf");
}

@theme {
  --color-primary: #fc2121;
  --color-secondary: #fbf8ff;
  --color-tertiary: #97aabd;
  --font-primary: "Poppins", sans-serif;
}